.navbar{
background-color:#00796b;
}
.navbar ul{
background-color:#00796b;
float:left;
width:100%;
margin:0;
}
.navbar ul li{
float:left;
list-style:none;
margin:5px;
color:#fff;
width:auto;
padding:10px;
height:25px;
}
a{
color:#fff;
text-decoration:none;
}
.navbar ul li a:hover
{
background-color:#009688;
width:auto;
height:20px;
}
.logo{
float:left;
}
