.branch.no-animation
	.node#facebook
		.fa.fa-facebook.share-alt-icon
	.stem	
.branch.no-animation
	.node#linkedin
		.fa.fa-linkedin.share-alt-icon
	.stem
.branch.no-animation
	.node#google-plus
		.fa.fa-google-plus.share-alt-icon
	.stem	
.branch.no-animation
	.node#pinterest
		.fa.fa-pinterest.share-alt-icon
	.stem
.branch.no-animation
	.node#twitter
		.fa.fa-twitter.share-alt-icon
	.stem
.main-button.share-alt
	.fa.fa-share-alt.fa-2x

.container.no-animation
	.segment
		.fa.fa-snapchat-ghost.social-icon
	.segment
		.fa.fa-vine.social-icon
	.segment
		.fa.fa-instagram.social-icon
	.segment
		.fa.fa-whatsapp.social-icon
	
.main-button.social
	.fa.fa-ellipsis-h.fa-2x
	
.float-circle#flickr
	.fa.fa-flickr.share-icon
.float-circle#youtube
	.fa.fa-youtube-play.share-icon
.float-circle#dropbox
	.fa.fa-dropbox.share-icon

.main-button.share
	.fa.fa-share.fa-2x

